header img{
    float: left;
    width: 350px;
    height: 350px;
}
body {
    background: #090909;
}

.bg-black {
    background: #000;
}

.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}